* {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    user-select: none;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.main-content {
    margin-left: 60px; 
    padding: 20px;
}

.welcome {
    font-size: 32px;
    margin-bottom: 10px;
}

.datetime {
    font-size: 18px;
    color: #777;
}
.main-content a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.dashboard-box {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    text-align: center;
    transition: transform 0.3s ease;
    height: 225px;
}

#recent-comment-box {
    height: 225px;
    overflow-y: auto;
    position: relative;
}

#recent-comment-box h3 {
    position: sticky; 
    top: 0; 
    background-color: #fff;
    z-index: 1; 
}

#recent-comment-box ul {
    padding: 10px; 
    word-break: break-all;
    margin: 0;
}

.dashboard-box h3 {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    color: #333;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.dashboard-box p {
    font-size: 20px;
    color: #555;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.center-content p {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 75%; /* Take full height of the box */
}

.center-content p:hover{
    color: rgb(0, 0, 0);
    font-size: 22px;
    transition: 0.3s;
}

.dashboard-box:hover {
    transform: translateY(-8px);
}

.chart {
    height: 150px;
    background-color: #f0f0f0;
}

@media (max-width: 1200px) {
    .dashboard-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .dashboard-grid {
        grid-template-columns: 1fr; 
    }
}