/* By Chong Shao Qian */

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 100px auto;
    padding: 50px;
    border-radius: 10px;
}

.cart-text {
    padding: 50px 0;
    text-align: center;

}

.cart-details {
    display: flex;
    justify-content: space-between;
}

.delete-cart {
    display: grid;
    place-items: center;
    padding: 20px;
    cursor: pointer;
}

.cart-list {
    width: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.summary-price {
    width: 25%;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.cart-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-name {
    padding: 12px;
}

.btn-qty {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.qty-btn {
    width: 25px;
    height: 25px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}

.qty-btn:hover {
    background-color: #eee;
}

.qty {
    width: 30px;
    height: 25px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    margin: 0 5px;
}

.qty-multiplier {
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}

.summary-price {
    position: relative;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* display: grid;
        place-items: center; */
}

.summary-price h4 {
    margin-top: 0;
}

.summary-price ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.summary-price li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.summary-price li:last-child {
    border-bottom: none;
}

.summary-price span:first-child {
    font-weight: bold;
    width: 100px;
    display: inline-block;
}

#checkout-btn {
    position: absolute;
    bottom: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
}

#checkout-btn:hover {
    background-color:#056edd;
}


.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.check {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}


.check:checked {
    background-color: #4CAF50;
    border: 2px solid white;
}

.check:checked::before {
    content: "✔";
    color: white;
    display: block;
    text-align: center;
    line-height: 30px;
}

.cart-box-list {
    overflow: hidden;
    height: 420px;
    overflow-y: scroll;

}


.cart-box-list::-webkit-scrollbar {
    width: 2px;
}

.cart-box-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.cart-box-list::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 10px;
    display: none;

}

.cart-box-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

 .cart-header{
    border-radius:15px 15px 3px 3px;
    display: flex;
    justify-content: space-around;
   flex-direction: left;
   padding: 7px;
   color: #fff;
   background-color:red;
 }


 .center{
    position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
    position:fixed;
}


.pop-up{
    width:410px;height:200px;padding:30px 20px;background:#f5f5f5;border-radius:10px;box-sizing:border-box;text-align:center;box-shadow: rgba(0, 0, 0, 5) 0px 5px 15px;opacity:0;top:-200%;transform:translate(-50%,-50%) scale(0.5);z-index:5;
   transition:opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;

}


.pop-up.jump{
 opacity:1;
 top:50%;
 transform:translate(-50%,-50%) scale(1);
 transition:transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);

}

#bt{
    padding:10px 20px;background-color:#DC143C;color:#f5f5f5;margin-top:15px;outline:none;font-size:16px;font-weight:600;border-radius:10px;transition:all 300ms ease-in-out;
}


#bt:hover,#btn:hover{
    background-color:transparent;
    color:#DC143C;
    cursor:url(image/hand-cursor-64.png),auto;
    border-color:#DC143C ;
}


@media (max-width: 768px) {
    .cart-details {
        flex-direction: column;
    }

    .cart-list {
        width: 100%;
        margin-bottom: 20px;
    }

    .summary-price {
        width: 100%;
    }
}