* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

header{
    padding:15px 0px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-bottom:1px solid gainsboro;
    position: fixed;
    z-index:10;
    background-color:white;
    top:0;display: none;
 }

 a{
    color:black;
 }

 header ,header .first-row ,header .second-row{
    width:100%;
 }
 
 header .second-row ul{
       display:flex;
       justify-content:center;
       gap:70px;
 }

 
 header .first-row {
      display:flex;
       justify-content:space-around;
     
 }
 
 header .second-row ul li{
           padding:20px 0px;
           cursor:pointer;

 }

 .search-bar{
     border:1px solid gainsboro;
     display: grid;
     grid-template-columns:  auto auto;
     height: 30px;
 }

 #search-button{
     background-color: gainsboro;
     border:none;
     cursor:pointer;
     padding:5px 15px;
 }

 #search{
     border:none;
     outline:none;
     padding: 0px 5px;
     text-transform:lowercase;
 }

 .user-icon{
     border-radius: 50%;
     height:40px;
     width: 40px;
     overflow: hidden;
     display: grid;
     place-items: center;
 }
 .userAcc-block{
     display:flex;
     border:1px solid gainsboro;
     padding: 10px;
 }

 .text{
     display: grid;
     place-items: center;
 }

 .text .text-first{
     padding:0px  20px;
 }
 
 .first-row p span{
     position:relative;
 }

 .first-row p span{
    padding: 0px 5px;
    background-color: red;
    color: white;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;           
    position: absolute;
    top: 15px;
 }

.small-icon{
    display:flex;
    justify-content: space-between;
    gap:45px;
}


.sidenav {
    width: 250px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    right: -250px; 
    background-color: #292a2a;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column; 
}

.sidenav.open {
    right: 0; 
}
.profile {
    text-align: center;
    margin-bottom: 20px;
}
.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile h2 {
    margin: 0;
    font-size: 18px;
}
.profile p {
    margin: 0;
    font-size: 14px;
    color: #BDC3C7;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    transition: 0.3s;
    padding: 20px 10px;
  }
  
  .sidenav .als:hover {
    color: black;
    background-color: white;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
  }

  .list-containers {
    position: relative;
    display: inline-block;
    cursor: pointer;
}



.user-sec-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    right:0;
}


.user-sec-list {
    width:200px;

    
}

.user-sec-list li {
    padding:20px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.user-sec-list li:hover {
    background-color: #292a2a;
    color:white;
}


.list-containers:hover .user-sec-list {
    display: block;
}