/* Photo Upload ------------------------------------------------------------ */

label.upload img {
    display: block;
    border: 1px solid #333;
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

label.photo_value img {
    display: block;
    border: 1px solid #333;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    cursor: pointer;
}