
/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
.address {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.form-button {
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}

.container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 4px;
}

.container button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

tr:hover{
    background-color: rgb(221, 221, 221);
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #f4b5b5;
}

table th a {
    color: black; /* Set text color to black */
    text-decoration: none; /* Remove underline from links */
    display: inline-flex;
    align-items: center;
}

table th a:hover {
    text-decoration: underline; /* Optional: underline on hover */
}

table th a::after {
    content: ''; /* Add empty content to place arrow after text */
    display: inline-block;
    width: 10px; /* Adjust width if needed */
    height: 10px; /* Adjust height if needed */
    background: no-repeat center center;
    background-size: contain;
    margin-left: 5px; /* Add space between text and arrow */
}

table th a[data-sort-order='ASC']::after {
    content: '▲'; /* Unicode character for up arrow */
}

table th a[data-sort-order='DESC']::after {
    content: '▼'; /* Unicode character for down arrow */
}

.actions, .active, .deactivate {
    width: 100px; /* Set column width */
}

.actions button, .active button, .deactivate button  {
    width: 100%; /* Make buttons fill the column width */
    margin: 0; /* Remove extra margin */
}

.actions button {
    background-color: #007bff;
}

.actions button:hover {
    background-color: #007bff;
}

.deactivate button {
    background-color: #dc3545;
}

.deactivate button:hover {
    background-color: #c82333;
}

.active button {
    background-color: #28a745;
}

.active button:hover {
    background-color: #28a745;
}

.no-results {
    text-align: center;
    font-size: 16px;
    color: #6c757d;
}

.action-buttons {
    text-align: center;
    margin: 20px 0;
}

.action-buttons a button {
    width: 200px;
    margin: 5px;
}

.pagination {
    text-align: center;
}

.pagination a {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #007bff;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
}

.pagination .current-page {
    margin: 0 5px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 4px;
}
